.listResults {
  padding: 0 5%;
}

.listResults__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.listItem-item__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.listItem-item {
  width: 23%;
  padding: 0 1%;
}
