/* @mixin google-font($family) {
  @import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400");
}
@mixin google-font($family) {
  @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
}

@include google-font("Fira Sans");
@include google-font("Material Icons") */

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap);

$Fira-Sans: 'Fira Sans';
$Material-Icons: 'Material Icons';
$Quicksand: 'Quicksand';

$black: #252525;
$white: #ffffff;
$grey: #eaeaea;
$pink: #ef96a2;

$primary-color: #20b49c;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-tint-1: lighten($primary-color, 10%);
$primary-color-tint-2: lighten($primary-color, 20%);
$primary-color-tint-3: lighten($primary-color, 30%);
$primary-color-tint-4: lighten($primary-color, 40%);
$primary-color-tint-5: lighten($primary-color, 50%);
$primary-font: $Fira-Sans, sans-serif;

$link-color: $primary-color;

$layout-movil: 767px;
$layout-movil-landscape: 812px;