/* @mixin google-font($family) {
  @import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400");
}
@mixin google-font($family) {
  @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
}

@include google-font("Fira Sans");
@include google-font("Material Icons") */

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap);

$Fira-Sans: 'Fira Sans';
$Material-Icons: 'Material Icons';
$Quicksand: 'Quicksand';

$black: #252525;
$white: #ffffff;
$grey: #eaeaea;
$pink: #ef96a2;
$purple: #2F2951;

$primary-color: #20b49c;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-tint-1: lighten($primary-color, 10%);
$primary-color-tint-2: lighten($primary-color, 20%);
$primary-color-tint-3: lighten($primary-color, 30%);
$primary-color-tint-4: lighten($primary-color, 40%);
$primary-color-tint-5: lighten($primary-color, 50%);
$primary-font: $Fira-Sans, sans-serif;

$link-color: $primary-color;

@mixin input {
  width: 92%;
  outline: none;
  border: 2px solid $white;
  font-size: 16px;
  height: 25px;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: 5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[type=month]::-webkit-inner-spin-button,
input[type=month]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

$layout-movil: 767px;
$layout-movil-landscape: 812px;