@import '../Vars.scss';

.inside {
  padding: 0 5%;
}
.insideDescription {
  display: flex;
}
.insideDescription{
  margin-bottom: 15px;
}
.contimages{
  width: 35%;
  & img{
    width: 100%;
  }
}
.infoExperience{
  width: 65%;
  padding: 50px 0 0 50px;
}
.infoExperience button {
  float: right;
}
.locationMap > div {
  position: relative;
  height: 350px;
}
.insideImages {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.insideImages img {
  width: 30%;
  height: auto;
}

@media (max-width: $layout-movil) {
  .insideDescription {
    display: block;
  }
  .contimages,
  .infoExperience{
    width: 100%;
  }
  .infoExperience{
    padding: 0;
  }
  .button{
    width: 100%;
    margin-bottom: 20px;
  }
}